# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Web build
web/favicon.png
web/icons/
